{{- if .Values.redis.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: redis
spec:
  ports:
  - port: {{ .Values.redis.port }}
    targetPort: {{ .Values.redis.port }}
  selector:
    app: phraseanet
    tier: redis
{{- end }}
